'atom-workspace':
  'ctrl-p': 'fuzzy-files:toggle'

'.fuzzy-files atom-text-editor[mini]':
  'enter'       : 'fuzzy-files:open'
  'alt-enter'   : 'fuzzy-files:open-externally'
  'ctrl-enter'  : 'fuzzy-files:show-in-folder'
  'alt-delete'  : 'fuzzy-files:trash'
  'alt-left'    : 'fuzzy-files:split-left'
  'alt-right'   : 'fuzzy-files:split-right'
  'alt-up'      : 'fuzzy-files:split-up'
  'alt-down'    : 'fuzzy-files:split-down'
  'alt-v alt-p' : 'fuzzy-files:insert-p'
  'alt-v alt-a' : 'fuzzy-files:insert-a'
  'alt-v'       : 'fuzzy-files:insert-r'
  'alt-v alt-r' : 'fuzzy-files:insert-r'
  'alt-v alt-n' : 'fuzzy-files:insert-n'
  'alt-c alt-p' : 'fuzzy-files:copy-p'
  'alt-c alt-a' : 'fuzzy-files:copy-a'
  'alt-c'       : 'fuzzy-files:copy-r'
  'alt-c alt-r' : 'fuzzy-files:copy-r'
  'alt-c alt-n' : 'fuzzy-files:copy-n'
  'alt-d'       : 'fuzzy-files:trash'
  'alt-0'       : 'fuzzy-files:default-slash'
  'alt-/'       : 'fuzzy-files:forward-slash'
  'alt-\\'      : 'fuzzy-files:backslash'
  'alt-q'       : 'fuzzy-files:query-item'
  'alt-s'       : 'fuzzy-files:query-selection'
  'f5'          : 'fuzzy-files:update'
